.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-uaccess {
	/*fill: #333333;*/
}
.icon-checklist {
	/*fill: #333333;*/
}
.icon-spring-fling {
	/*fill: #333333;*/
}
.icon-tour {
	/*fill: #333333;*/
}
.icon-uasavvy {
	/*fill: #333333;*/
}
.icon-athletics {
	/*fill: #333333;*/
}
.icon-feedback {
	/*fill: #333333;*/
}
.icon-alumni {
	/*fill: #333333;*/
}
.icon-document {
	/*fill: #333333;*/
}
.icon-az-index {
	/*fill: #333333;*/
}
.icon-directory {
	/*fill: #333333;*/
}
.icon-calendar {
	/*fill: #333333;*/
}
.icon-weather {
	/*fill: #333333;*/
}
.icon-video {
	/*fill: #333333;*/
}
.icon-campus-map {
	/*fill: #333333;*/
}
.icon-news {
	/*fill: #333333;*/
}
.icon-foursquare {
	/*fill: #333333;*/
}
.icon-pinterest {
	/*fill: #333333;*/
}
.icon-youtube {
	/*fill: #333333;*/
}
.icon-facebook {
	/*fill: #333333;*/
}
.icon-ua-mobile {
	/*fill: #333333;*/
}
.icon-googleplus {
	/*fill: #333333;*/
}
.icon-instagram {
	/*fill: #333333;*/
}
.icon-linkedin {
	/*fill: #333333;*/
}
.icon-twitter {
	/*fill: #333333;*/
}
.icon-rss {
	/*fill: #333333;*/
}
.icon-unbookmark {
	/*fill: #333333;*/
}
.icon-search {
	/*fill: #333333;*/
}
.icon-bookmark {
	/*fill: #333333;*/
}
.icon-checkmark {
	/*fill: #333333;*/
}
.icon-x {
	/*fill: #333333;*/
}
.icon-grip {
	/*fill: #333333;*/
}
.icon-minus {
	/*fill: #333333;*/
}
.icon-plus {
	/*fill: #333333;*/
}
.icon-email {
	/*fill: #333333;*/
}
.icon-print {
	/*fill: #333333;*/
}
.icon-link {
	/*fill: #333333;*/
}
.icon-refresh {
	/*fill: #333333;*/
}
.icon-upload {
	/*fill: #333333;*/
}
.icon-download {
	/*fill: #333333;*/
}
.icon-minimize {
	/*fill: #333333;*/
}
.icon-maximize {
	/*fill: #333333;*/
}
.icon-fast-forward {
	/*fill: #333333;*/
}
.icon-stop {
	/*fill: #333333;*/
}
.icon-pause {
	/*fill: #333333;*/
}
.icon-rewind {
	/*fill: #333333;*/
}
.icon-down-point {
	/*fill: #333333;*/
}
.icon-up-right-point {
	/*fill: #333333;*/
}
.icon-right-point {
	/*fill: #333333;*/
}
.icon-down-right-point {
	/*fill: #333333;*/
}
.icon-up-point {
	/*fill: #333333;*/
}
.icon-left-point {
	/*fill: #333333;*/
}
.icon-down-left-point {
	/*fill: #333333;*/
}
.icon-up-left-point {
	/*fill: #333333;*/
}
.icon-bottom-left-corner {
	/*fill: #333333;*/
}
.icon-bottom-corner {
	/*fill: #333333;*/
}
.icon-bottom-right-corner {
	/*fill: #333333;*/
}
.icon-right-corner {
	/*fill: #333333;*/
}
.icon-top-right-corner {
	/*fill: #333333;*/
}
.icon-top-corner {
	/*fill: #333333;*/
}
.icon-top-left-corner {
	/*fill: #333333;*/
}
.icon-left-corner {
	/*fill: #333333;*/
}
.icon-down-left-arrow {
	/*fill: #333333;*/
}
.icon-down-arrow {
	/*fill: #333333;*/
}
.icon-down-right-arrow {
	/*fill: #333333;*/
}
.icon-right-arrow {
	/*fill: #333333;*/
}
.icon-up-right-arrow {
	/*fill: #333333;*/
}
.icon-up-arrow {
	/*fill: #333333;*/
}
.icon-up-left-arrow {
	/*fill: #333333;*/
}
.icon-left-arrow {
	/*fill: #333333;*/
}
